Explorando [ATUS](https://www.inegi.org.mx/programas/accidentes/#datos_abiertos)

* ATUS: Accidentes de tránsito terrestres en zonas urbanas y suburbanas

## Configuracion de entorno

In [130]:
from pathlib import Path
import zipfile

import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

In [2]:
ROOT = Path().resolve().parent
DATA = ROOT / "data"
DATA.mkdir(exist_ok=True)

RAW = DATA / "raw"
RAW.mkdir(exist_ok=True)

PROCESSED = DATA / "processed"
PROCESSED.mkdir(exist_ok=True)

## Descarga de los datos

In [3]:
url = "https://www.inegi.org.mx/contenidos/programas/accidentes/datosabiertos/conjunto_de_datos_atus_anual_csv.zip"

In [4]:
r = requests.get(url, stream=True)

In [5]:
for k, v in r.headers.items(): print(k, v)

Cache-Control must-revalidate,max-age=10
Content-Type application/x-zip-compressed
Last-Modified Fri, 01 Aug 2025 22:00:06 GMT
Accept-Ranges bytes
ETag "60cbcda32f3dc1:0"
Server Microsoft-IIS/10.0
X-Powered-By ASP.NET_Pro9
Date Wed, 08 Oct 2025 19:33:35 GMT
Content-Length 136739132
Set-Cookie BIGipServerLB_contenidos2=1191352586.37407.0000; expires=Wed, 08-Oct-2025 19:53:35 GMT; path=/; Httponly; Secure

In [6]:
zipfile_path = RAW / "atus_1997-2024.zip"

if not zipfile_path.exists(): 
    with open(zipfile_path, 'wb') as zfile: 
        for chunk in r.iter_content(chunk_size=10*1024*1024): 
            zfile.write(chunk)
else: 
    print(f'File: {zipfile_path.relative_to(ROOT)} already exists!')

File: data\raw\atus_1997-2024.zip already exists!

In [11]:
atusdir = RAW / "atus_1997-2024"
atusdir.mkdir(exist_ok=True)

if not any(atusdir.iterdir()):
    with zipfile.ZipFile(zipfile_path, 'r') as zfile: 
        zfile.extractall(path=atusdir)

In [12]:
for item in atusdir.iterdir(): 
    print(item.relative_to(ROOT))

data\raw\atus_1997-2024\catalogos
data\raw\atus_1997-2024\conjunto_de_datos
data\raw\atus_1997-2024\diccionario_de_datos
data\raw\atus_1997-2024\leeme_faq.txt
data\raw\atus_1997-2024\metadatos

In [13]:
catalogos_path = atusdir / "catalogos"
datos_path = atusdir / "conjunto_de_datos"

## Exploración

### Catalogos

In [14]:
for item in catalogos_path.iterdir(): 
    print(item.relative_to(ROOT))

data\raw\atus_1997-2024\catalogos\tc_dia.csv
data\raw\atus_1997-2024\catalogos\tc_edad.csv
data\raw\atus_1997-2024\catalogos\tc_entidad.csv
data\raw\atus_1997-2024\catalogos\tc_hora.csv
data\raw\atus_1997-2024\catalogos\tc_minuto.csv
data\raw\atus_1997-2024\catalogos\tc_municipio.csv
data\raw\atus_1997-2024\catalogos\tc_periodo_mes.csv

In [16]:
df_municipio = pd.read_csv(catalogos_path.joinpath("tc_municipio.csv"))

In [17]:
df_municipio.head()

   ID_ENTIDAD  ID_MUNICIPIO   NOM_MUNICIPIO
0           1             1  Aguascalientes
1           1             2        Asientos
2           1             3        Calvillo
3           1             4           Cosío
4           1             5     Jesús María

In [23]:
df_municipio[df_municipio['NOM_MUNICIPIO'] == 'Hermosillo']

      ID_ENTIDAD  ID_MUNICIPIO NOM_MUNICIPIO
1964          26            30    Hermosillo

In [44]:
id_hmo = {'id_entidad': 26, 'id_municipio': 30}
id_hmo

{'id_entidad': 26, 'id_municipio': 30}

### Datos

In [25]:
for item in datos_path.iterdir(): 
    print(item.relative_to(ROOT))

data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_1997.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_1998.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_1999.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2000.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2001.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2002.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2003.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2004.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2005.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2006.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2007.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2008.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2009.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2010.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2011.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2012.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2013.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2014.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2015.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2016.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2017.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2018.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2019.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2020.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2021.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2022.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2023.csv
data\raw\atus_1997-2024\conjunto_de_datos\atus_anual_2024.csv

In [99]:
df_atus_2021 = pd.read_csv(datos_path.joinpath("atus_anual_2021.csv"), index_col=None)

In [100]:
df_atus_2021.head()

,COBERTURA,ID_ENTIDAD,ID_MUNICIPIO,ANIO,MES,ID_HORA,ID_MINUTO,ID_DIA,DIASEMANA,URBANA,...,PEATMUERTO,PEATHERIDO,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,NEMUERTO,NEHERIDO,CLASACC,ESTATUS
Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,Sin accidente en esta zona,...,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,NaN
Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,Sin accidente en esta zona,...,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,NaN
Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,Sin accidente en esta zona,...,0,0,0,0,0,0,0,Fatal,Cifras Definitivas,NaN
Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,Sin accidente en esta zona,...,0,0,0,0,0,0,0,No fatal,Cifras Definitivas,NaN
Municipal,1,1,2021,1,0,50,1,Viernes,Accidente en intersección,Sin accidente en esta zona,...,1,0,0,0,0,0,0,No fatal,Cifras Definitivas,NaN

In [101]:
df_atus_2021.index.unique()

Index(['Municipal'], dtype='object')

In [102]:
columns = df_atus_2021.columns.to_list()
columns;

In [103]:
df_atus_2021.reset_index(inplace=True)

In [104]:
df_atus_2021.columns = [x for x in range(len(columns)+1)]

In [105]:
df_atus_2021.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,NaN
1,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,NaN
2,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,Fatal,Cifras Definitivas,NaN
3,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,No fatal,Cifras Definitivas,NaN
4,Municipal,1,1,2021,1,0,50,1,Viernes,Accidente en intersección,...,1,0,0,0,0,0,0,No fatal,Cifras Definitivas,NaN

In [106]:
df_atus_2021.columns = columns + ['trol']
df_atus_2021.drop(columns='trol', inplace=True)

In [107]:
df_atus_2021.head()

,COBERTURA,ID_ENTIDAD,ID_MUNICIPIO,ANIO,MES,ID_HORA,ID_MINUTO,ID_DIA,DIASEMANA,URBANA,...,PEATMUERTO,PEATHERIDO,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,NEMUERTO,NEHERIDO,CLASACC,ESTATUS
0,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
2,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,1,0,0,0,0,0,0,0,Fatal,Cifras Definitivas
3,Municipal,1,1,2021,1,0,0,1,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,No fatal,Cifras Definitivas
4,Municipal,1,1,2021,1,0,50,1,Viernes,Accidente en intersección,...,0,1,0,0,0,0,0,0,No fatal,Cifras Definitivas

In [110]:
df_hmo_2021 = df_atus_2021[
    (df_atus_2021['ID_ENTIDAD'] == id_hmo.get('id_entidad', 26)) &
    (df_atus_2021['ID_MUNICIPIO'] == id_hmo.get('id_municipio', 30))
]

In [112]:
df_hmo_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 301394 to 310086
Data columns (total 45 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COBERTURA     8693 non-null   object
 1   ID_ENTIDAD    8693 non-null   int64
 2   ID_MUNICIPIO  8693 non-null   int64
 3   ANIO          8693 non-null   int64
 4   MES           8693 non-null   int64
 5   ID_HORA       8693 non-null   int64
 6   ID_MINUTO     8693 non-null   int64
 7   ID_DIA        8693 non-null   int64
 8   DIASEMANA     8693 non-null   object
 9   URBANA        8693 non-null   object
 10  SUBURBANA     8693 non-null   object
 11  TIPACCID      8693 non-null   object
 12  AUTOMOVIL     8693 non-null   int64
 13  CAMPASAJ      8693 non-null   int64
 14  MICROBUS      8693 non-null   int64
 15  PASCAMION     8693 non-null   int64
 16  OMNIBUS       8693 non-null   int64
 17  TRANVIA       8693 non-null   int64
 18  CAMIONETA     8693 non-null   int64
 19  CAMION        8693 non-null   int64
 20  TRACTOR       8693 non-null   int64
 21  FERROCARRI    8693 non-null   int64
 22  MOTOCICLET    8693 non-null   int64
 23  BICICLETA     8693 non-null   int64
 24  OTROVEHIC     8693 non-null   int64
 25  CAUSAACCI     8693 non-null   object
 26  CAPAROD       8693 non-null   object
 27  SEXO          8693 non-null   object
 28  ALIENTO       8693 non-null   object
 29  CINTURON      8693 non-null   object
 30  ID_EDAD       8693 non-null   int64
 31  CONDMUERTO    8693 non-null   int64
 32  CONDHERIDO    8693 non-null   int64
 33  PASAMUERTO    8693 non-null   int64
 34  PASAHERIDO    8693 non-null   int64
 35  PEATMUERTO    8693 non-null   int64
 36  PEATHERIDO    8693 non-null   int64
 37  CICLMUERTO    8693 non-null   int64
 38  CICLHERIDO    8693 non-null   int64
 39  OTROMUERTO    8693 non-null   int64
 40  OTROHERIDO    8693 non-null   int64
 41  NEMUERTO      8693 non-null   int64
 42  NEHERIDO      8693 non-null   int64
 43  CLASACC       8693 non-null   object
 44  ESTATUS       8693 non-null   object
dtypes: int64(33), object(12)
memory usage: 3.1+ MB

In [111]:
df_hmo_2021['DIASEMANA'].value_counts()

DIASEMANA
Viernes      1504
Sabado       1419
Jueves       1306
Miercoles    1182
Martes       1156
lunes        1075
Domingo      1051
Name: count, dtype: int64

In [113]:
df_hmo_2021['ID_HORA'].value_counts()

ID_HORA
14    776
17    659
16    655
15    644
18    590
19    557
8     507
12    476
11    451
10    443
9     440
20    420
13    376
22    299
7     254
21    221
23    189
0     149
6     149
1     128
2     101
3      72
4      70
5      67
Name: count, dtype: int64

In [115]:
df_hmo_2021['URBANA'].unique()

array(['Sin accidente en esta zona', 'Accidente en intersección',
       'Accidente en no intersección'], dtype=object)

In [116]:
df_hmo_2021['CLASACC'].unique()

array(['No fatal', 'Sólo daños', 'Fatal'], dtype=object)

In [117]:
df_hmo_2021['CLASACC'].value_counts()

CLASACC
Sólo daños    7608
No fatal      1048
Fatal           37
Name: count, dtype: int64

In [118]:
df_hmo_2021['ESTATUS'].unique()

array(['Cifras Definitivas'], dtype=object)

## Datos Georeferenciados

### Descarga

In [119]:
for item in RAW.iterdir(): 
    print(item.relative_to(RAW))

atus_1997-2024
atus_1997-2024.zip
atus_2021_shp.zip

In [121]:
shp_2021_path = RAW / "atus_2021_shp.zip"
outdir_shp_2021 = RAW / "atus_2021_shp"
outdir_shp_2021.mkdir(exist_ok=True)

if not any(outdir_shp_2021.iterdir()): 
    with zipfile.ZipFile(shp_2021_path, 'r') as zfile: 
        zfile.extractall(path=outdir_shp_2021)

In [125]:
for shp in outdir_shp_2021.rglob("*.shp"):
    print(shp.relative_to(outdir_shp_2021))

ATUS_2021\conjunto_de_datos\BASE MUNICIPAL_ACCIDENTES DE TRANSITO GEORREFERENCIADOS_2021.shp

In [128]:
shppath = outdir_shp_2021.joinpath(r"ATUS_2021\conjunto_de_datos\BASE MUNICIPAL_ACCIDENTES DE TRANSITO GEORREFERENCIADOS_2021.shp")
shppath.exists(), shppath.is_file()

(True, True)

In [131]:
df_geo_2021 = gpd.read_file(shppath)

c:\Users\isaul\Documents\repos\accidentes\.venv\Lib\site-packages\pyogrio\raw.py:198: RuntimeWarning: One or several characters couldn't be converted correctly from CP1252 to UTF-8. This warning will not be emitted anymore
  return ogr_read(

In [132]:
df_geo_2021.head()

,ID,EDO,MES,ANIO,MPIO,HORA,MINUTOS,DIA,DIASEMANA,URBANA,...,TOTMUERTOS,TOTHERIDOS,CLASE,CALLE1,CALLE2,CARRETERA,LONGITUD,LATITUD,OID,geometry
0,1009255-112-190821532,1,1,2021,1,0,0,1,5,1,...,0,0,3,AGUASCALIENTES ORIENTE,AJONJOLÍ,None,-102.25252,21.86376,1,POINT (-102.25252 21.86376)
1,1009255-112-190821538,1,1,2021,1,0,0,1,5,1,...,0,0,3,PETRÓLEOS MEXICANOS,GENERAL IGNACIO ZARAGOZA,None,-102.29519,21.89120,2,POINT (-102.29519 21.8912)
2,1009255-112-190821641,1,1,2021,1,0,0,1,5,1,...,1,0,1,CONSTITUCIÓN,PASEO DE LA SOLIDARIDAD,None,-102.28652,21.91522,3,POINT (-102.28652 21.91522)
3,1009255-112-190821424,1,1,2021,1,0,0,1,5,1,...,0,1,2,PORFIRIO PADILLA ENRÍQUEZ,None,None,-102.25603,21.92720,4,POINT (-102.25603 21.9272)
4,1009255-112-190821428,1,1,2021,1,0,50,1,5,1,...,0,1,2,CULTURA OTOMÍ 408,CULTURA MAYA,None,-102.24423,21.90958,5,POINT (-102.24423 21.90958)

In [133]:
id_hmo

{'id_entidad': 26, 'id_municipio': 30}

In [137]:
geo_hmo = df_geo_2021[
    (df_geo_2021['EDO'] == 26) & 
    (df_geo_2021['MPIO'] == 30) 
]

In [138]:
geo_hmo.head()

,ID,EDO,MES,ANIO,MPIO,HORA,MINUTOS,DIA,DIASEMANA,URBANA,...,TOTMUERTOS,TOTHERIDOS,CLASE,CALLE1,CALLE2,CARRETERA,LONGITUD,LATITUD,OID,geometry
117874,1006278-999-0,26,1,2021,30,5,0,1,5,0,...,0,1,2,HERMOSILLO - BAHÍA KINO,CARRETERA 100,HERMOSILLO - BAHÍA KINO,-111.17558,29.00564,117875,POINT (-111.17558 29.00564)
117875,1006278-999-1,26,1,2021,30,14,55,1,5,1,...,0,0,3,LEY FEDERAL DEL TRABAJO,ARIZONA,None,-110.97734,29.11893,117876,POINT (-110.97734 29.11893)
117876,1006278-999-2,26,1,2021,30,15,20,1,5,1,...,0,0,3,SOLIDARIDAD,RICARDO VALENCIA Y SOUZA,None,-110.99451,29.13579,117877,POINT (-110.99451 29.13579)
117877,1006278-999-3,26,1,2021,30,22,30,1,5,1,...,0,0,3,TERCERA DE WISTARIA,LÁZARO MERCADO,None,-111.01642,29.12439,117878,POINT (-111.01642 29.12439)
117878,1006278-999-5,26,1,2021,30,8,45,2,6,0,...,0,0,3,HERMOSILLO - BAHÍA KINO,None,HERMOSILLO - BAHÍA KINO,-111.11552,29.05019,117879,POINT (-111.11552 29.05019)